pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy_data_from_fuel_feed_to_adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['title']"
								},
								"sink": {
									"name": "title",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['description']"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['brand']"
								},
								"sink": {
									"name": "brand",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['date']"
								},
								"sink": {
									"name": "date",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['price']"
								},
								"sink": {
									"name": "price",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['trading-name']"
								},
								"sink": {
									"name": "trading-name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['location']"
								},
								"sink": {
									"name": "location",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['phone']"
								},
								"sink": {
									"name": "phone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latitude']"
								},
								"sink": {
									"name": "latitude",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['longitude']"
								},
								"sink": {
									"name": "longitude",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['site-features']"
								},
								"sink": {
									"name": "site-features",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['rss']['channel']['item']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "xml_rssfeeds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "parquet_rssfeeds",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@variables('date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy_data_from_adls_to_azsqldb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_data_from_fuel_feed_to_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [tempstage].[FuelPrices]",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "parquet_rssfeeds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqldatamart1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "date",
					"value": {
						"value": "@convertFromUtc(utcnow(),'Singapore Standard Time','yyyy-mm-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}